<%- include("../partials/head.ejs") %>

    <div class="page-header">
        <h1>Simple Auth-System</h1>
    </div>

    <%- include("../partials/nav.ejs") %>

        <div class="container row">
            <div class="jumbotron col-sm-4 pull-center">
                <h2>Welcome to DASHBOARD</h2>
                <form autocomplete="off" action="http://localhost:8000/signup" method="post">
                    <div class="form-group">
                        <a href="http://localhost:8000/getUsers" class="btn btn-primary">Get Users Details</a>
                    </div>
                    <div class="form-group">
                        <a href="http://localhost:8000/update" class="btn btn-primary">Update Details</a>
                    </div>
                </form>
            </div>
        </div>

        <%- include("../partials/foot.ejs") %>