<%- include("../partials/head.ejs") %>

    <div class="page-header">
        <h1>Simple Auth-System</h1>
    </div>

    <%- include("../partials/nav.ejs") %>

        <div class="container mt-4">
            <h1>Welcome to HOMEPAGE. Login or Signup to continue</h1>
        </div>

        <%- include("../partials/foot.ejs") %>