<%- include("../partials/head.ejs") %>

    <div class="page-header">
        <h1>Simple Auth-System</h1>
    </div>

    <%- include("../partials/nav.ejs") %>

        <div class="container">
            <div class="jumbotron col-sm-4 pull-center">
                <%= message %>
                    <div class="mt-4">
                        <a href="/dashboard" class="btn btn-primary">Back</a>
                    </div>
            </div>

        </div>

        <%- include("../partials/foot.ejs") %>