<%- include("../partials/head.ejs") %>

    <div class="page-header">
        <h1>Simple Auth-System</h1>
    </div>

    <%- include("../partials/nav.ejs") %>

        <div class="container row">
            <div class="jumbotron col-sm-4 pull-center">
                <form autocomplete="off" action="http://localhost:8000/update" method="post">
                    <div class="form-group">
                        <label>Username:</label>
                        <input class="form-control" required type="text" name="username" />
                    </div>
                    <div class="form-group">
                        <label>Name:</label>
                        <input class="form-control" required type="text" name="name" />
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input class="form-control" required type="password" name="password" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" required type="email" name="email" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>

        <%- include("../partials/foot.ejs") %>